[user]
    name = Ahmad Samiei
[github]
    user = amad
[color]
    ui = true
[core]
    editor = /usr/local/bin/nvim
    excludesfile = ~/.gitignore
[color "diff"]
    commit = yellow
    meta = magenta
    frag = cyan
    old = red
    new = green
    whitespace = red reverse
[pager]
    log = diff-so-fancy | less
    show = diff-so-fancy | less
    diff = diff-so-fancy | less
[alias]
    yolo = !git commit -m \"$(curl -s http://whatthecommit.com/index.txt)\"
    standup = git --no-pager log --all --no-merges --oneline --date="relative" --since="yesterday"
