[user]
    name = Ahmad Samiei
[color]
    ui = true
[core]
    excludesfile = ~/.gitignore
[color "diff"]
    commit = yellow
    meta = magenta
    frag = cyan
    old = red
    new = green
    whitespace = red reverse
[pager]
    log = diff-highlight | less
    show = diff-highlight
    diff = diff-highlight
