sftp-config.json
.DS_Store
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.vim/swaps
.config/fish/fish_history
fish/fish_history
.config/sublime-text-3/Packages/User/Package Control.cache/
.config/sublime-text-3/Packages/User/Package Control.last-run
.config/sublime-text-3/Packages/User/Package Control.merged-ca-bundle
.config/sublime-text-3/Packages/User/Xdebug.breakpoints
.config/sublime-text-3/Packages/User/Xdebug.log
.config/sublime-text-3/Packages/User/oscrypto-ca-bundle.crt
.phan/
tags
.npmrc
.swp
.netrwhist
npm-debug.log
plug.vim.old
config/nvim/spell
config/nvim/shada
config/nvim/plugged
config/nvim/autoload/plug.vim
vim/vim.symlink/spell/
vim/vim.symlink/plugged/
Brewfile.lock.json
