[user]
    name = Ahmad Samiei
[github]
    user = amad
[color]
    ui = true
[core]
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore
[color "diff"]
    commit = yellow
    meta = magenta
    frag = cyan
    old = red
    new = green
    whitespace = red reverse
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[alias]
    yolo = !git commit -m \"$(curl -s http://whatthecommit.com/index.txt)\"
